

body {
    background-color: #dfe4d7;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Nav Bar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background-color: #F9C5D2;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,.06);
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap: 12px;
}

.logo img{
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
}

.logo h2{
    color:#ffffff;
    font-size:1.8rem;
}

/* Navigation */

.nav-left{
    display:flex;
    align-items: center;
    gap:15px;
}

.nav-left a{
    text-decoration:none;
    color:#557C2C;
    font-weight:600;
    transition:.3s;
    position:relative;
}

/* Underline animation */

.nav-left a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0%;
    height:3px;
    background:#F53E73;
    border-radius:10px;
    transition:.3s;
}

.nav-left a:hover{
    color:#F53E73;
}

.nav-left a:hover::after{
    width:100%;
}

/* Button */

.nav-btn{
    text-decoration:none;
    background:#F53E73;
    color:white;
    padding:14px 28px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);
    background:#E43167;
    box-shadow:0 12px 20px rgba(245,62,115,.35);
}

    /* Hero Section */
.heroImg {
    background-color: #F17193;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}