body {
    background-color: #91BE5B;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Nav Bar */

nav{

    width:100%;
    height:85px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
    background:linear-gradient(
        90deg,
        #f7cedc 0%,
        #FFF9F2 50%,
        #EEF7D3 100% );
    border-bottom:2px solid #F2E6D8;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,.06);
}


/* Logo */

.logo{

    display:flex;
    align-items:center;
    gap:12px;

}

.logo img{

    width:42px;
    height:42px;

    object-fit:cover;

    border-radius:50%;

}

.logo h2{

    font-family:"Baloo 2",cursive;

    color:#F53E73;

    font-size:1.8rem;

}


/* Navigation */

.nav-links{

    display:flex;
    list-style:none;

    gap:45px;

}

.nav-links a{

    text-decoration:none;

    color:#557C2C;

    font-weight:600;

    transition:.3s;

    position:relative;

}


/* Underline animation */

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0%;

    height:3px;

    background:#F53E73;

    border-radius:10px;

    transition:.3s;

}

.nav-links a:hover{

    color:#F53E73;

}

.nav-links a:hover::after{

    width:100%;

}


/* Button */

.nav-btn{

    text-decoration:none;

    background:#F53E73;

    color:white;

    padding:14px 28px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.nav-btn:hover{

    transform:translateY(-3px);

    background:#E43167;

    box-shadow:0 12px 20px rgba(245,62,115,.35);

}

/* Navbar stuff 

.logobtn {
        text-align: right;
        padding: 1px;
        text-decoration: none;
        height: 10px;
        background-color: #587A10;
}

ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #91BE5B;
        z-index: 1000;
    }

/* text colour of navbar 
ul.topnav li a {
        display: block;
        color: #91BE5B;
        text-align: left;
        padding: 14px 16px; 
        text-decoration: none;
    }

/* with hover 
li a:hover:not(.active) {
        background-color: #FF7293;
    }

/* without hover
.dropbtn {
        background-color: #587A10;
    }

.dropdown:hover .dropdown-content {
        display: block;
        background-color: #587A10;
    }

/* makes sure that settings, lang, share stay on the right
ul.topnav li.right {
        float: right;
    }

/* makes sure that home stays on the left
ul.topnav li {
        float: left;
    }

/* styling for dropdown buttons - link, eng/maori, screen reader 
li a, .dropbtn {
        display: inline-block;
        color: #91BE5B;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
    }

/* dropdown stuff 
li.dropdown {
        display: inline-block;
        text-align: left;
    }

/* important but idk what it does, but without it the dropdown acts weird
.dropdown-content {
        display: none;
        position: fixed;
        background-color: #FF7293;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: right;
    }

.dropdown-content a {
        color: #91BE5B;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    } 
    
*/

    /* Hero Section */
.heroImg {
    background-color: #ff2457;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(247, 10, 89);
}

/* big title */
.heroImgh1 {
    font-size: 2.5rem;
    margin: 0;
    /* Add the blur effect */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.6); /* Black w/opacity/see-through */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 5px 40px;
}

/* sub heading */
.heroImgp {
    font-size: 1.21rem;
    max-width: 800px;
    margin-top: 1rem; /*gap between both boxes*/
    /* Add the blur effect */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.578); /* Black w/opacity/see-through */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 10px 48px;
}



/* Title Styling */
.section-title {
    font-size: 3rem;
    color: rgb(255, 22, 100);
    margin-bottom: 40px;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}