body {
    background-color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Nav Bar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background-color: #F9C5D2;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,.06);
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap: 12px;
}

.logo img{
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
}

.logo h2{
    color:#ffffff;
    font-size:1.8rem;
}

/* Navigation */

.nav-left{
    display:flex;
    align-items: center;
    gap:15px;
}

.nav-left a{
    text-decoration:none;
    color:#557C2C;
    font-weight:600;
    transition:.3s;
    position:relative;
}

/* Underline animation */

.nav-left a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0%;
    height:3px;
    background:#F53E73;
    border-radius:10px;
    transition:.3s;
}

.nav-left a:hover{
    color:#F53E73;
}

.nav-left a:hover::after{
    width:100%;
}

/* Button */

.nav-btn{
    text-decoration:none;
    background:#F53E73;
    color:white;
    padding:14px 28px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);
    background:#E43167;
    box-shadow:0 12px 20px rgba(245,62,115,.35);
}

    /* Hero Section */
.heroImg {
    background-image: url("img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* big title */
.heroImgh1 {
    font-size: 2.5rem;
    margin: 0;
    /* Add the blur effect */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(68, 93, 33, 0.785); /* Black w/opacity/see-through */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 5px 40px;
}

/* sub heading */
.heroImgp {
    font-size: 1.21rem;
    max-width: 800px;
    margin-top: 1rem; /*gap between both boxes*/
    /* Add the blur effect */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(225, 77, 104, 0.701); /* Black w/opacity/see-through */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 10px 48px;
}

/* Acts as the window viewport */
.ticker-container {
  width: 100%;
  overflow: hidden;          /* Hides text outside the box */
  white-space: nowrap;      /* Keeps text on a single line */
  background-color: #EF4971;
padding: 10px 0; 
}

/* The element that actually moves */
.ticker-text {
  color: #ffd4de;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  display: inline-block;
  padding-left: 100%;       /* Starts the text completely off-screen to the right */
  animation: marquee 15s linear infinite;
}

/* Controls the speed and behavior (Equivalent to scrollamount) */
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* Moves text fully off-screen to the left */
  }
}

/* Location and Hours */

.location{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:200px;
    padding-right:200px;
    padding-top:200px;
    padding-bottom:200px;
    background:#C9DD77;
}

.location h2{
    color:#648C3A;
    font-size:4.5rem;
    line-height:1;
    margin-bottom:20px;
}

.address{
    margin-bottom:40px;
    color:#4E4E4E;
    font-size:1.5rem;
}

.hours p{
    margin-bottom:12px;
    color:#4E4E4E;
    font-size:1.5rem;
}

.map-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}

.map-placeholder{
    width:500px;
    height:500px;
    border-radius:50%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    color:#888;
    background-image: url("img/room.png");
    background-size: shrink down;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.map-btn{
    border:none;
    background:white;
    padding:15px 35px;
    border-radius:40px;
    cursor:pointer;
    font-size:1.5rem;
    transition:.3s;
}

.map-btn:hover{
    transform:translateY(-9px);
}

.divider-image {
    width:100%;
    height:100px;
    background-color:#C9DD77;
    margin-bottom: 0px;
}

/* Latest News*/
.news{
    background-color:#C9DD77;
}

.news h2{
    text-align:center;
    color:#648C3A;
    font-size:3rem;
    margin-bottom:70px;
}

.news-top{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    gap:40px;
    margin-bottom:70px;
}

.mascot-placeholder{
    width:40%;

}

.drink-card{
    text-align:left;
} 

.mango-image{
    width:100%;
    height:220px;
    border-radius:30px;
    margin-bottom:20px;
} 

.blueberry-image{
    width:88%;
    height:220px;
    border-radius:30px;
    margin-bottom:20px;
} 

.drink-card h3{
    color:#648C3A;
}

.instagram{
    display:flex;
    justify-content:center;
    gap:35px;
}

.insta-post{
    width:250px;
    height:340px;
    background:white;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.collage{
    display:flex;
    justify-content:center;
    align-items:center;
    width:600px;
    height:auto;
    background-size: shrink down;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer */

/* footer{
    background:#6E9C42;
    color:white;
    padding:40px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
} 


.footer-info{
    text-align:right;
}*/

.footer {
    width:100%;
    object-fit:shrink down;
}

/* Hero Section */
.footer {
    background-image: url("img/footer.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* big title */
.heroImgh1 {
    font-size: 2.5rem;
    margin: 0;
    /* Add the blur effect */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(68, 93, 33, 0.785); /* Black w/opacity/see-through */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 5px 40px;
}









/* about section */

.about{
    display:flex;
    
    justify-content:space-between;
    align-items:center;
    padding-left:200px;
    padding-right:200px;
    padding-top:100px;
    padding-bottom:100px;
    background:#ffbdc7;
    border-radius: 20px;
    margin: 50px;
}

.about h2{
    color:#ff325e;
    font-size:4.5rem;
    line-height:1;
    margin-bottom:90px;
}

.about p{
    margin-bottom:12px;
    padding-right:100px;
    width:800px;
    color:#4E4E4E;
    font-size:1.5rem;
}

.map-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}

.about-image{
    width:100%;
    height:100%;
    background:white;
    background-image: url("img/room.png");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    color:#888;
    border-radius: 20px;
}

